@model ExchangeChecker.ViewModels.ExchangeOverviewViewModel

@{
    ViewData["Title"] = "Home Page";
    var GdaxService = new Exchange.Gdax.GdaxService();
}


<style>
    table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        table td, table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        table tr:hover {
            background-color: #ddd;
        }

        table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
</style>

<p>Have fun! (all prices are in Euro's)</p>

<table>
    <thead>
        <tr>
            <th>Exchange/Currency</th>
            <th>BTC</th>
            <th>ETH</th>
            <th>LTC</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var exchange in Model.Exchanges)
        {
            <tr>
                <td>@exchange.Name</td>
                <td>@exchange.BitcoinPrice</td>
                <td>@exchange.EthereumPrice</td>
                <td>@exchange.LitecoinPrice</td>
            </tr>
        }
    </tbody>
</table>